.popularPosts {
    margin-bottom: 10px;

    &__link {
        display: block;
        cursor: pointer;
        background-color: rgba(138, 135, 135, 0.945);
        margin-bottom: 5px;
        padding: 10px;
        color: black;
        font-size: 14px;
        font-weight: 400;
        transition: all 0.3s ease-in-out;
    }

    &__link:hover {
        color: white;
        font-size: 20px;
        font-weight: 500;
        transition: 0.3s ease-in-out;
    }
}